
<div class="container my-5 p-5">
  <div class="row mb-4 g-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">Buscar por clave</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">Buscar por Marca</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">Buscar por Vehículo</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">Buscar por Medidas</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">Buscar por otro</div>
      </div>
    </div>
  </div>
  <div class="row mb-4 text-end d-flex justify-content-end">
    <div class="col-4">
      <button class="btn btn-primary fw-bolder">
        <i class="bi bi-currency-dollar"></i>Cotizar
      </button>
    </div>
  </div>
</div>
